html { 
position: relative; 
min-height: 100%; 
} 

body { 
background: white; 
margin: 0; 
font-family: sans-serif; 
margin: 0 0 50px; 
} 

.dundee-logo { 
width:200px; 
padding-top: 1rem; 
padding-bottom: 1rem; 
padding-left: 2rem; 
} 

.avatar { 
width:35px; 
//border-radius: 50%; 
} 

.navbar-custom { 
background: #3E5BC7; 
} 

.table-custom { 
background:#3E5BC7; 
} 

.main { 
padding-right:1rem; 
padding-left:1rem; 
} 

.footer { 
height: 50px; 
background-color: orange; 
position: absolute; 
left: 0; 
bottom: 0; 
height: 100px; 
width: 100%; 
overflow: hidden; 
} 

.container-navbar { 
padding:0; } 

.container-content { 
padding-right: 6rem; 
padding-top: 2rem; 
padding-left: 6rem; 
} 

.container-footer { 
text-align: center; 
margin-top: 1.5rem; 
} 

.footer-text { 
	color: white !important; 
} 

.footer { 
	background: #3E5BC7; 
}