html { 
	margin: 0;
    padding: 0;
    height: 100%; 
} 

body { 
	background: white; 
	font-family: sans-serif; 
	margin: 0;
    padding: 0;
    height: 100%;
} 

.container-webpage {
	position: relative;
    min-height: 100%;
}

.container-navbar {
	padding: 0;
}

.dundee-logo { 
width:230px; 
padding-top: 0; 
padding-bottom: 0; 
padding-left: 2rem; 
} 

.avatar { 
width:35px; 
//border-radius: 50%; 
} 

.navbar-custom { 
background: #3E5BC7;
} 

.table-custom { 
background:#3E5BC7; 
} 

main { 
    padding-bottom: 100px;
} 

footer { 
	position: absolute;
	width: 100%;
	height: 100px; 
	left: 0; 
	bottom: 0; 
	width: 100%; 
	overflow: hidden; 
	background: #3E5BC7; 
} 

.container-content { 

	padding-right: 6rem; 
	padding-top: 2rem; 
	padding-left: 6rem; 
    padding-bottom: 2rem;
	background: gainsboro;

} 

.container-footer { 
text-align: center; 
margin-top: 1.5rem; 
} 

.footer-text { 
	color: white !important; 
} 
.title {
	padding-bottom:1rem;
}


.footer { 
	background: #3E5BC7; 
}

.avatar{
	height: 38px;
	border-radius: 5px;
	position: relative;
	bottom: 7px;
	margin: auto;
    border: 3px solid white;
}

.nav-item{
		padding-left: 1rem;
}

.navbar-text {
	color: white !important;
}

.card-custom {
	background: #3E5BC7;
    color: white;
}

.btn-custom {
	background: #3E5BC7;
}

.btn-text {
	color: white;
}

.checkbox {
	width:20px;
}

.centered {
	text-align:center;
}

.badge-custom {
	margin:1rem;
	padding: 0.5rem;
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}


