html {
	margin: 0;
    padding: 0;
    height: 100%;
}

body {
	background: white;
	font-family: sans-serif;
	margin: 0;
    padding: 0;
    height: 100%;
}


.panel-default {
opacity: 0.9;
margin-top:30px;
}
.form-group.last {
margin-bottom:0px;
}
.container-webpage {
	position: relative;
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container-navbar {
	padding: 0;
}

.dundee-logo {
width:230px;
padding-top: 0;
padding-bottom: 0;
padding-left: 2rem;
}

.navbar-custom {
background: #3E5BC7;
}

.table-custom {
background:#3E5BC7;
}

main {
    padding-bottom: 100px;
	flex: 1;
	background: gainsboro;
}

footer {
	position: absolute;
	width: 100%;
	height: 100px;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	background: #3E5BC7;
	background: #3E5BC7;
}

.list {
    padding:1rem;
}

.list-items {
    padding:0.2rem;
}

.download-icon {
    width: 40px;
    padding-right:0.8rem;
}

.container-content {
	padding-right: 6rem;
	padding-top: 2rem;
	padding-left: 6rem;
    padding-bottom: 2rem;
}

.container-footer {
	text-align: center;
	margin-top: 1.5rem;
}

.footer-text {
	color: white !important;
}
.title {
	padding-bottom:1rem;
}

.avatar{
	height: 38px;
	border-radius: 5px;
	position: relative;
	bottom: 7px;
	margin: auto;
    border: 2px solid white;
	width:35px;
}

.nav-item{
		padding-left: 1rem;
}

.navbar-text {
	color: white !important;
}

.card-custom {
	margin-bottom: 1rem;
}

.card-header-custom {
	background: #3E5BC7;
    color: white;
	font-size: 1.5rem;
}

.btn-custom {
	background: #3E5BC7;
}

.btn-text {
	color: white;
}

.checkbox {
	width:20px;
}

.centered {
	text-align:center;
}

.badge-custom {
	margin:1rem;
	padding: 0.5rem;
}

.full-image-background {
	position: absolute;
	min-height: 81%;
	min-width: 100%;
	background-image: url(/images/dundee.jpg);
	background-position: center;
    background-size: cover;
}

.signup {
	margin: 0;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
	background: #3e5bc7cf;
    color: white;
    border-radius: 0.5rem;
    padding: 2rem;
	text-align: center;
	max-width: 20rem;
}

.panel-custom {
	margin-top: 0 !important;
}

.input-custom {
	text-align: left;
	margin: auto;
}

.input-submit-custom {
	max-width: 100%;
	padding-top: 1rem;
}

.panel-heading-custom {
	padding-bottom: 1rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.form-custom {
	padding-top: 1rem;
}

.landingPage {
	margin: 0;
    position: absolute;
    top: 35%;
    left: 40%;
    transform: translate(-50%, -50%);
	background: #3e5bc7cf;
    color: white;
    border-radius: 0.5rem;
    padding: 2rem;
	text-align: center;
}

.landingPageFont{
	letter-spacing: .125rem!important;
	font-weight: 700!important;
	font-family: Montserrat,sans-serif!important;
	text-transform: uppercase!important;
	margin-top: 1rem!important;
	font-size: 4.375rem!important;
    line-height: 4.375rem!important;
	text-shadow: 0 1px 0 #000, 0 1px 0 #000000, 0 3px 0 #000, 0 2px 0 #000000, 0 5px 0 #000, 0 4px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);  
}

.snapshot {
	width: 15rem;
}

/*Code taken from http://tobiasahlin.com/spinkit/"*/

.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
